
<p>Name:<%= @c_user.name %></p>
<p>Alias:<%= @c_user.alias %></p>
<p>Email:<%= @c_user.email %></p>





<br><br>
<a href="/users/delete" data-method="delete">Logout</a><br>
    <%= link_to "Bright Ideas", ideas_path %>